.food-page {
    text-align: center;
    padding-top: 150px;

    form {

        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

        input {
            width: 30vw;
            height: 30px;
        }
    }
}